* {
    font-family: "Poppins", sans-serif;
}

#navbar .navbar-nav {
    flex-direction: row;
    justify-content: flex-start;
}
  
#navbar .navbar-nav li {
    margin-left: 1em;
}
  
#navbar li {
    position: relative;
}
  
#navbar i {
    font-size: 20px;
}
  
#navbar span {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FFD700;
    text-align: center;
}
  
#bag-item span {
    left: 20px;
}
  
.navbar-brand {
    font-weight: 700;
    width: 100%;
    text-align: center;
}
  
#navbar-items {
    justify-content: space-between;
}

#search-form, #news-form {
    width: 100%;
    margin: 2em 0;
    border: 2px solid #626262;
    border-radius: 3px;
    padding: 5px 15px;
}

#search-form input, #news-form  input {
   background-color: transparent;
   border: none;
}

#search-form input:focus, #news-form input:focus  {
    box-shadow: none;
}

#search-form input::placeholder, #news-form input::placeholder {
    color: #d3d3d3;
}

#bottom-navbar-container .container {
    justify-content: flex-end;
}

#bottom-navbar-container a {
    font-weight: 600;
}

.navbar-toggler {
    font-size: 1.5em;
}

.slider {
    width: 100%;
    height: var(--height);
    overflow: hidden;
}

.slider .list {
    display: flex;
    width: calc(var(--width) * var(--quantify) * 2);
    height: var(--height);
    position: relative;
    animation: autoRun 20s linear infinite;
}

.slider .list .item {
    font-weight: 600;
    width: var(--width);
    height: var(--height);
    flex: 1 1 var(--width);
}

#btn-buy {
    width: 100px;
    margin: 0 auto;
    padding: 10px;
}

@keyframes autoRun {
    from {
        left: 100%;
    }
    to {
        left: calc(var(--width) * -1);
    }
}

#banners-container {
    padding: 0;
}

.carousel-caption {
    bottom: 2em;
    padding: 1em;
    left: 12%;
    right: 12%;
}

.carousel-caption h5 {
    font-size: 1.8em;
}

#btn-cta {
    background-color: #fff;
    border: none;
    padding: 10px;
    font-size: 18px;
    color: black;
    font-weight: 700;
    width: 100%;
    border-radius: 5px;
    margin-top: 0.8rem;
}

#icon {
    font-size: 32px;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 320px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    filter: blur(4px);
    background: #eee;
    border-radius: 10px;
}

.swiper-slide-active {
    filter: blur(0px);
    background: #fff;
}

#costumer-feedback {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
    overflow: hidden;
}

.testimonialBox {
    position: relative;
    width: 100%;
    padding: 40px;
    padding-top: 90px;
    color: #999;
}

.testimonialBox .quote {
    position: absolute;
    top: 20px;
    right: 30px;
    opacity: 0.2;
}

.testimonialBox .details {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.testimonialBox .details .imgBx {
   position: relative;
   width: 60px;
   height: 60px;
   border-radius: 50%;
   overflow: hidden;
   margin-right: 10px;
}

.testimonialBox .details .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonialBox .details h3 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #2196f3;
    line-height: 1.1em;
}

.testimonialBox .details span {
    font-size: 16px;
    color: #ffe500;
}

.swiper-3d .swiper-slide-shadow-left, .swiper-3d .swiper-slide-shadow-right {
    background-image: none;
}

#gallery .image-container {
    background-size: cover;
    background-position: center;
    height: 325px;
    cursor: pointer;
    transition: .5s;
    border: 3px solid #F0F8FF;
}

#gallery .image-container:hover {
    border-color: #101010;
}

#img1 {
    background-image: url('../img/product01.jpg');
}

#img2 {
    background-image: url('../img/product02.jpg');
}

#img3 {
    background-image: url('../img/product03.jpg');
}

#img4 {
    background-image: url('../img/product04.jpg');
}

#img5 {
    background-image: url('../img/product05.jpg');
}

#img6 {
    background-image: url('../img/product06.jpg');
}

#container-news-products .content-news-products h3 {
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}

.gallery-news-products {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.content-news-products {
    width: 100%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: .4s;
    background: #f2f2f2;
}

.content-news-products:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px, -8px);
}

.gallery-news-products img {
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.content-news-products p {
    text-align: center;
    color: #b2bec3;
    padding-top: 0 8px;
}

.content-news-products h6 {
    font-size: 26px;
    text-align: center;
    color: #222f3e;
    margin: 0;
}

.content-news-products ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.content-news-products li {
    padding: 5px;
}

.content-news-products .fa {
    font-size: 26px;
    transition: .4s;
}

.content-news-products .checked {
    color: #ff9f43;
}

.content-news-products .fa:hover {
    transform: scale(1.3);
    transition: .6s;
}

.content-news-products .btn {
    text-align: center;
    font-size: 24px;
    width: 100%;
    padding-top: 15px;
    border: 0;
    outline: none;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #fff;
}

.content-news-products #btn-1 {
    background: #2183a2;
}

.content-news-products #btn-2 {
    background: #3b3e6e;
}

.content-news-products #btn-3 {
    background: #0b0b0b;
}

.content-news-products #btn-4 {
    background: #ff9f43;
}

@media (min-width: 768px) {
    .navbar-brand {
        text-align: left;
    }

    #navbar-items {
        min-width: 80%;
        display: flex;
    }

    #search-form, #news-form  {
        width: 40%;
        margin: 0;
    }

    .navbar-brand {
        text-align: left;
    }

    #bottom-navbar {
        justify-content: center;
    }

    #slider .carousel-item, #slider img {
        height: 600px;
    }

    .carousel-caption {
        bottom: 8em;
        padding: 1em;
        left: 22%;
        right: 22%;
    }

    .carousel-caption h5 {
        font-size: 4em;
    }

    #btn-cta {
        background-color: #fff;
        border: none;
        padding: 10px;
        font-size: 32px;
        color: black;
        font-weight: 700;
        width: 450px;
        border-radius: 5px;
        margin-top: 0.8rem;
    }

    .content-news-products {
        width: 45%;
    }
}

@media (min-width: 992px) {
    .content-news-products {
        width: 20%;
    }
}